body {
	background-color: #1a1a1a;
	color: aliceblue;
}

.custom-navbar {
	background-color: lightslategray !important;
	border-bottom: 1px solid #000000;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0 1rem;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	max-height: 45px;
	object-fit: contain;
	display: block;
}

article>a {
	text-decoration: none;
}

article>form {
	text-align: center;
}

article>form>ul {
	list-style-type: none;
	margin: 10px;
}

.card-img-top {
    width: 50px !important;
    height: 50px !important;
    object-fit: contain;
}